@using poc.Models

@{
    ViewBag.Title = "All Books";
}
<div class="well">
    <p>These are all the books others want to share.</p>
    <p>Take one or many. Remember: after you read it, you can share it again.</p>
    <a class="btn btn-primary" href="@Url.Action("GiveAway")">Give away a book now!</a>
</div>

@Html.Partial("BookList", BookRepository.GetAllBooks());
