@using System.Web.UI.HtmlControls
@using poc.Models
@model poc.Views.Home.AllBooksViewModel

@{
    ViewBag.Title = "Give away ALL your books!";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


