@using poc.Models

@{
    ViewBag.Title = "Your Shared Books";
}

<div class="well">
    <p>These are all the books you share.</p>
    <p>Thanks for sharing.</p>
    <a class="btn btn-primary" href="@Url.Action("GiveAway")">Give away a book now!</a>
</div>

@foreach (Book book in BookRepository.GetMyBooks())
{
    <div>
        <p>@book.Title by @book.Author (shared by @book.SharedBy.Name)</p>
    </div>
}